# PyCharm
.idea/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.venv/

# OS
.DS_Store
Thumbs.db

# Data files
*.data
*.txt
*.csv
*.json
*.pkl
*.h5

# Image files
*.png
*.jpg
*.jpeg
*.pdf
*.svg

# Jupyter checkpoints
.ipynb_checkpoints/
